@import "config";
html {
    align-items: center;
    display: flex;
    background: url('wall.jpg');
    color: #D8DEE9;
    font-family: "Monaco";
    font-size: 20px;
    height: 100%;
    justify-content: center;
}

body { 
    border: 5px solid #999999;
    color: #D8DEE9;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    min-height: 30ch;
    min-width: 50vw;
    padding: 2em;
}

p {
    margin: 0;
}

p span {
    color: @14;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    column-gap: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 1em 0;
}

ul:nth-child(6n + 1) li:first-child {
    color: #99E6FF
}

ul:nth-child(6n + 2) li:first-child {
    color: #FFB3B3
}

ul:nth-child(6n + 3) li:first-child {
    color: #FFFF99
}

ul:nth-child(6n + 4) li:first-child {
    color: #FFC299
}

ul:nth-child(6n + 5) li:first-child {
    color: #CC99FF
}

ul:nth-child(6n + 6) li:first-child {
    color: #99FF99
}

input {
    background: none;
    color: #595959;
    width: 6px;
    font: 20px monospace;
    outline: 0;
    border: 0;
    border-radius: 0;
}
textarea:focus,
input:focus {
    color: #D8DEE9;
    outline: 0;
    border: 0;
    width: 50%;
}
